HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### auth ###
application-auth.yml

### rest docs ###
/matzip-app-external-api/src/main/resources/static/index.html

### build files ###
/matzip-app-internal-api/frontend/index.html
/matzip-app-internal-api/frontend/generated/index.ts
/matzip-app-internal-api/package.json
/matzip-app-internal-api/frontend/generated/vaadin-featureflags.ts
/matzip-app-internal-api/vite.config.ts
/matzip-app-internal-api/vite.generated.ts
/matzip-app-internal-api/frontend/generated/
/matzip-app-internal-api/node_modules/
/matzip-app-internal-api/package-lock.json
/matzip-app-internal-api/tsconfig.json
/matzip-app-internal-api/types.d.ts
